# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Packaging / build artifacts
build/
dist/
*.egg-info/

# Testing / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Type checker / linters
.mypy_cache/
.ruff_cache/

# Environment / local config
.env
.env.*
!.env.example

# Editor / IDE
.idea/
.vscode/

# OS-specific
.DS_Store
.ipynb_checkpoints/
/twsapi_macunix.1037.02/
/sandbox/
